@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');

:root{
    --black: #18171F;
    --grey: #24232C;
    --silver: #817D92;
    --white: #E6E5EA;
    --green: #A4FFAF;
    --red: #F64A4A;
    --orange: #FB7C58;
    --yellow: #F8CD65;
}

body{
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    padding: 16px;
    box-sizing: border-box;
    background: #08070B;
}

header h1{
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: var(--silver);
}

.output-container{
    background-color: var(--grey);
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
    max-width: 540px;
    padding: 0 16px;
    box-sizing: border-box;
}

#copied{
    font-size: 18px;
    line-height: 24px;
    color: var(--green);
    text-transform: uppercase;
    float: left;
    margin-right: 16px;
}

.hide{
    display: none;
}

#output{
    font-size: 32px;
    line-height: 42px;
    color: var(--white);
    opacity: 0.5;
}

.input-container{
    background-color: var(--grey);
    width: 100%;
    max-width: 540px;
    padding: 20px 16px;
    box-sizing: border-box;
}

h2{
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
}

span{
    float: right;
    font-size: 24px;
    line-height: 32px;
    color: var(--green);
}

.range{
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: 8px;
    background-color: var(--black);
    cursor: pointer;
}

.range::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: var(--white);
}

.checkbox-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 35px 0;
    font-size: 16px;
    line-height: 21px;
    color: var(--white);
}

.checkbox-container label{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#copy{
    cursor: pointer;
}

.too-weak{
    background-color: var(--red);
    border: 2px solid #F64A4A !important;
}

.weak{
    background-color: var(--orange);
    border: 2px solid #FB7C58 !important;
}

.medium{
    background-color: var(--yellow);
    border: 2px solid #F8CD65 !important;
}

.strong{
    background-color: var(--green);
    border: 2px solid #A4FFAF !important;
}

.error{
    display: none;
    color: #F64A4A;
    margin-top: 20px;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 2px solid #E6E5EA;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked{
    content: "";
    background-color: var(--green);
    border: none;
    background-image: url(./password-generator-app/password-generator-app/starter-code/assets/images/icon-check.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.strength{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    background-color: var(--black);
    padding: 0 16px;
    box-sizing: border-box;
}

.strength div{
    display: flex;
    align-items: center;
}

.strength h1{
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: var(--silver);
    text-transform: uppercase;
}

#level{
    color: var(--white);
    text-transform: uppercase;
    margin-right: 16px;
}

.box-container{
    display: flex;
    gap: 8px;
}

.box1,
.box2,
.box3,
.box4{
    width: 6px;
    height: 24px;
    border: 2px solid #E6E5EA;
}

#generate{
    background-color: var(--green);
    width: 100%;
    height: 56px;
    border: none;
    margin-top: 16px;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #24232C;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    cursor: pointer;
}



/* desktop size */

@media (min-width: 1024px){
    main{
        width: 540px;
    }

    .output-container{
        padding: 0 32px;
        margin: 24px 0;
    }

    .input-container{
        padding: 34px 32px;
    }

    h2{
        margin-bottom: 35px;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    span{
        font-size: 32px;
        line-height: 42px;
    }

    .checkbox-container{
        margin: 42px 0;
        gap: 19px;
    }

    .strength{
        padding: 0 32px;
    }

    .strength h1{
        font-size: 18px;
        line-height: 24px;
    }

    #level{
        font-size: 24px;
        line-height: 32px;
    }

    #generate{
        font-size: 18px;
        line-height: 24px;
        margin-top: 32px;
    }

    /* hover */

    input[type="checkbox"]:hover{
        border: 2px solid #A4FFAF;
    }

    #generate:hover{
        background-color: var(--grey);
        border: 2px solid #A4FFAF;
        color: var(--green);
    }

    button:hover svg path {
        fill: #A4FFAF;
    }

    .range::-webkit-slider-thumb:hover{
        background-color: var(--black);
        border: 2px solid #A4FFAF;
    }

    #copy:hover path{
        fill: #fff;
    }

}